<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.ncpow.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/popular_movies_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/popular_movies_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">>
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="@string/app_name"
                    android:launchMode="singleTop" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"
            android:label="@string/detail_activity_title"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">

        </activity>
    </application>

</manifest>